.env
.npm
node_modules/
jspm_packages/

# Command db for prod running
commands.json 

# Alias db for prod running
aliases.json 

# Permissons db for prod running
permissions.json

# Quote db for prod running
quotes.json